  $fontColor: black;

  $shadowDefault: -1px 0px 4px 1px rgba(58, 86, 122, 0.420);
  
  $greyBgMenu: #adadad;
  $greyBg: #e6e6e6;
  $pink: #fe6894;
  $blue: #557fcd;
  $violet: #9c27b0;
  $redDanger: #d32f2f;